<!--<h2>User Summary: <%#= link_to @user.username, user_path(@user) %></h2>-->
<!--<p>Joined site <%#= @user.created_at.strftime("%Y-%m-%d") %></p>-->

<!--<section class="user-votes__container">-->
<!--  <h3 class="user-votes__header">Products</h3>-->
<!--  <table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>stock</th>-->
<!--      <th>price</th>-->
<!--      <th>Active</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
    <%# @user.products.each do |product| %>
<!--      <tr>-->
<!--        <td><%#= link_to product.name, product(product.id) %></td>-->
<!--        <td><%#= product.stock %></td>-->
<!--        <td><%#= product.price %></td>-->
<!--        <td><%#= product.retired %></td>-->
<!--      </tr>-->
    <%# end %>
<!--    </tbody>-->
<!--  </table>-->
<!--</section>-->
<!--<button><%#= link_to "Edit product", edit_product_path(product.id), method: get %></button>-->