<h1> ORDER SUMMARY </h1>

<h5>Total Revenue</h5>
<p>Paid: $ </p>
<p>Completed: $ </p>

<h5>Total Orders</h5>
<h5>Total Revenue: <%= @user.total_rev %> </h5>
<p>Paid: $ </p>
<p>Completed: $ </p>

<h5>Filter By Status:</h5>
<p><%= link_to "All Orders", order_path %></p>
<p>Paid </p>
<p>Completed </p>

<%= link_to "Add Category", new_category_path %></p>
<section class="orders-show__container">
  <h3 class="orders-show__header">Products</h3>
  <table class="table">
    <thead>
    <tr>
      <th>Order #</th>
      <th>Purchase Date</th>
      <th>Order Status</th>
    </tr>
    </thead>
    <tbody>
    <!--    <td><%#= link_to @order.id, order_path(@order), class: 'table-link' %></td>-->

    <%# @order.order_items.each do |item| %>
    <!--      <tr>-->
    <!--      <td><%#= link_to item.id, order_path(item) %> </td>-->
    <!--        <td><%#= link_to Product.find_by(id: product.user_id).username, product_path(Product.find_by(id: product.user_id)) %></td>-->
    <!--        <td><%#= item.completed_at %></td>-->
    <!--        <td><%#= item.status %></td>-->
    <%#= link_to "Edit product", edit_product_path(product.id), method: get %>
    <!--      </tr>-->
    <%# end %>
    </tbody>
  </table>
</section>

