/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

.header-container {
  background-color: white;
  border-color: white;
}

.navbar-brand {
  font-family: "Amatic SC", sans-serif;
  background: linear-gradient(to bottom, #ffffff, #68676A, #4F4F51, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.5rem;
  color: black;


}

.navbar-brand:hover {
  background: linear-gradient(to bottom, #72538F, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

.nav-item {
  list-style-type: none;
  font-family: "Raleway", Sans-Serif;
  font-size: 1.3em;
}

.nav-link {
  margin-left: 300px;
  //margin-right: 250px;
}

.nav-item .nav-link {
  color: black;
  text-decoration: none;
}

.nav-item .nav-link:hover {
  color: #72538F;
}

body .background-image {
  background-image: url("background image/background.png");
  background-size: auto;
  backgroud-repeat: no-repeat;
}

body {
  background-color: #EFE6E6;
}
footer {
  font-family: "Raleway", Sans-Serif;
}

footer h5 {
  font-family: "Amatic SC", Sans-Serif;
  font-size: 50px;
}

footer h3 {
  font-size: 20px;
}

footer .list-unstyled li a {
  color: black;
}

footer .list-unstyled li a:hover {
  color: #72538F;
  text-decoration: none;
}