// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1%;
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 10px;
  margin: auto 20%;
  padding: 2%;
}

@media (max-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 50px;
    grid-column-gap: 10px;
    margin: auto 20%;
    padding: 2%;
  }
}

@media (max-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 50px;
    grid-column-gap: 10px;
    margin: auto 20%;
    padding: 2%;
  }
}


.grid > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.3em;
  text-align: center;
}

.grid-product-category {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 10px;
  margin: 0 20%;
  padding: 2%;
}

@media (max-width: 1000px) {
  .grid-product-category {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 50px;
    grid-column-gap: 10px;
    margin: auto 20%;
    padding: 2%;
  }
}

@media (max-width: 800px) {
  .grid-product-category {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 50px;
    grid-column-gap: 10px;
    margin: auto 20%;
    padding: 2%;
  }
}

.grid-product-category > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.3em;
  text-align: center;
}

.grid-product-user {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 1000px) {
  .grid-product-user {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 50px;
    grid-column-gap: 10px;
    margin: auto 20%;
    padding: 2%;
  }
}

@media (max-width: 800px) {
  .grid-product-user {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 50px;
    grid-column-gap: 10px;
    margin: auto 20%;
    padding: 2%;
  }
}

.grid-product-user > div {
  font-size: 1.3em;
}

.product-name {
  color: black;
}

.product-name:hover {
  color: #9C7BC2;
  text-decoration: none;
}

.product-details-page {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-column-gap: 30px;
  margin: 0 30%;
  padding: 2%;
  font-size: 1.3em;
}

.product-details-page > div {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  margin: 0 40%;
  padding: 5px;
  align-items: center;
}

.rating-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5% 100%;
  text-align: center;

}

.add-to-cart {
  margin-top: 2%;
}

.back-button {
  color: black;
}

.back-button:hover {
  color: #9C7BC2;
  text-decoration: none;
}

.edit-product-form > div {
  display: flex;
  flex-direction: column;
  margin: 0 40% ;
  padding: 2.5px;
}

.edit-product-form > div:nth-last-child(1) {
  align-items: flex-start;
  margin: 0 40%;
}

.delete-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}